name: Build
on: [push, pull_request]
env:
  CI_NAME: GitHub Actions
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
      - uses: android-actions/setup-android@v3
      - run: sdkmanager --install "cmake;3.31.6"
      - run: git config user.name "A" && git config user.email "a@b.com"
      - run: chmod +x gradlew && ./gradlew :app:assembleDebug
      - uses: actions/upload-artifact@v4
        with:
          name: kitten-keyboard-apk
          path: app/build/outputs/apk/debug/*.apk
